      <div class="panel widget">
         <div class="panel-body">
            <div class="row row-table">
               <div class="col-xs-3 text-center">
               <% if @hacker.avatar.nil? %>
                  <img src=<%= image_url("angle/user/09.jpg") %> alt="Image" class="img-circle thumb96" />
               <% else %>
                  <img src=<%= image_url(@hacker.avatar) %> alt="Image" class="img-circle thumb96" />
               <% end %>
               </div>
               <div class="col-xs-10">
                  <h3 class="mt0"><%= "#{@hacker.first_name} #{@hacker.last_name}" %> 
                  <% if is_favorited_by_current_user?(@hacker) %>
                  <%= link_to "Unfavorite", favorite_hacker_path(@hacker, type: "unfavorite"), method: "put", :class => "btn btn-default btn-xs", remote: true %>
                  <% else %>
                  <%= link_to "Favorite", favorite_hacker_path(@hacker, type: "favorite"), method: "put", :class => "btn btn-warning btn-xs", remote: true %>
                  <% end %>
                  </h3>
                  <ul class="list-unstyled">
                     <li class="mb-sm">
                        <em class="fa fa-certificate fa-fw"></em><%= "Studying #{@hacker.major} "%></li>
                     <li class="mb-sm">
                        <em class="fa fa-map-marker fa-fw"></em><%= @hacker.school %></li>
                     <li class="mb-sm">
                        <em class="fa fa-calendar fa-fw"></em><%= "Class of #{@hacker.graduation_date}" %></li>
                     <li class="mb-sm">
                        <em class="fa fa-envelope fa-fw"></em><%= @hacker.email %></li>
                  </ul>
               </div>

            </div>
         </div>
         <%= render 'external_profile_bar' %>
      </div>