      <div class="panel widget">
         <div class="col-xs-0 pull-right" style="padding: 10px">
         <% if is_favorited_by_current_user?(@hacker) %>
          <%= link_to '<em class="fa fa-star fa-3x" style="color: orange"></em>'.html_safe, favorite_hacker_path(@hacker, type: "unfavorite"), method: "put", remote: true %>
        <% else %>
          <%= link_to '<em class="fa fa-star-o fa-3x" style="color: orange"></em>'.html_safe, favorite_hacker_path(@hacker, type: "favorite"), method: "put", remote: true %>
        <% end %>

         </div>

         <div class="panel-body">
            <div class="row row-table">
               <div class="col-xs-2 text-center">
               <% if @hacker.avatar.nil? %>
                  <img src="https://github.com/identicons/jasonlong.png" alt="Image" class="img-circle thumb96" />
               <% else %>
                  <img src=<%= image_url(@hacker.avatar) %> alt="Image" class="img-circle thumb96" />
               <% end %>
               </div>
               <div class="col-xs-4">
                  <h3 class="mt0"><%= "#{@hacker.first_name} #{@hacker.last_name}" %> 

                  </h3>
                  <ul class="list-unstyled">
                     <li class="mb-sm">
                        <em class="fa fa-certificate fa-fw"></em><%= "Studying #{@hacker.major} "%></li>
                     <li class="mb-sm">
                        <em class="fa fa-map-marker fa-fw"></em><%= @hacker.school %></li>
                     <li class="mb-sm">
                        <em class="fa fa-calendar fa-fw"></em><%= "Class of #{@hacker.graduation_date}" %></li>
                     <li class="mb-sm">
                        <em class="fa fa-envelope fa-fw"></em><%= @hacker.email %></li>
                  </ul>
               </div>
               <div class="col-xs-5">
                        <div role="tabpanel">
                           <!-- Nav tabs-->
                           <ul role="tablist" class="nav nav-tabs">
                              <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Interests</a>
                              </li>
                              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Wants to Learn</a>
                              </li>
                           </ul>
                           <!-- Tab panes-->
                           <div class="bottom-aligned-text tab-content">
                              <div id="home" role="tabpanel" class="tab-pane active"><p><%= @hacker.experience.join(", ") %></p></div>
                              <div id="profile" role="tabpanel" class="tab-pane"><p><%= @hacker.learn.join(", ") %></p></div>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <%= render 'external_profile_bar' %>
         </div>
