<%= link_to "< Back", root_path %><h3>Hacker Profile
</h3>
<% flash.each do |name, msg| %>
   
   <div role="alert" class="alert alert-warning">
   <%= msg %>
   </div>
   
<% end %>
<div class="row">
   <div class="col-xs-6">
   	<!-- START widget-->
      <%= render 'profile_card' %>
      <!-- END widget-->
   </div>
   <div class="col-xs-6">
   <%= render 'interests_learn' %>
   </div>
   </div>
   <div class="col-lg-12">
   <iframe src=<%= Rails.root+"resumes/#{@hacker.id}.pdf" %> width="100%" height="1500" style="border: none;"> </iframe>

   </div>
</div>
</div>
	