
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="container-fluid">
      <!-- START widget-->
      <div class="panel widget">
         <div class="row row-table row-flush">
            <div class="col-xs-4 bb">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 text-center text-info">
                     <em class="fa fa-users fa-2x"></em>
                  </div>
                  <div class="col-xs-4">
                     <div class="panel-body text-center">
                        <h4 class="mt0"><%= Hacker.all.count %></h4>
                        <p class="mb0 text-muted">HACKERS</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xs-4 bb">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 text-center text-danger">
                     <em class="fa fa-graduation-cap fa-2x"></em>
                  </div>
                  <div class="col-xs-4">
                     <div class="panel-body text-center">
                        <h4 class="mt0"><%= Hacker.where(:hireable => true).count %></h4>
                        <p class="mb0 text-muted">JOB SEEKERS</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xs-4 bb">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 text-center text-inverse">
                     <em class="fa fa-file-text-o fa-2x"></em>
                  </div>
                  <div class="col-xs-4">
                     <div class="panel-body text-center">
                        <h4 class="mt0"><%= Hacker.where.not(:resume => nil).count %></h4>
                        <p class="mb0 text-muted">RESUMES</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div>

</div>

<div class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         Cactus
      </div>
      <div class="panel-body">
         <p class="text-center pv">SIGN IN TO CONTINUE.</p>
         <form role="form" data-parsley-validate="" novalidate="" class="mb-lg">
            <div class="form-group has-feedback">
                <%= f.email_field :email, autofocus: true, :id => "exampleInputEmail1", :class => "form-control", :placeholder => "Enter email"%>
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
            </div>

            <div class="form-group has-feedback">
                <%= f.password_field :password, autocomplete: "off", :id => "exampleInputPassword1", "placeholder" => "Password", :class => "form-control"  %>
               <span class="fa fa-lock form-control-feedback text-muted"></span>

            </div>
            <div class="clearfix">
               <div class="checkbox c-checkbox pull-left mt0">
                  <label>
                    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me, :name => "remember" %>
      <span class="fa fa-check"></span></label>

      <%= f.label :remember_me %>
                    <% end -%>
               </div>
               <div class="pull-right"><a href="/pages/recover" class="text-muted">Forgot your password?</a>
               </div>
            </div>
            <%= f.submit "Log in", :class => "btn btn-block btn-primary mt-lg" %>
         </form>
      </div>
   </div>
   <!-- END panel-->
</div>

      <!-- END widget-->

<% end %>

